## Embedded repo
Fiap-FCG/

## .NET
bin/
obj/
publish/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## NuGet
*.nupkg
**/packages/*
!**/packages/build/

## Logs
Logs/
*.log

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Rider
.idea/

## User-specific files
appsettings.Development.json

## Test results
TestResults/
